<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436667224785-au1t0it0qc3nirm2qgp5uod1nju6cu85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436667224785-au1t0it0qc3nirm2qgp5uod1nju6cu85</string>
	<key>API_KEY</key>
	<string>AIzaSyBfKCurHS-H-86HY9wVpj-Bx8vu1SvXsEI</string>
	<key>GCM_SENDER_ID</key>
	<string>436667224785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codingquokka.hsuon</string>
	<key>PROJECT_ID</key>
	<string>hsuon-4c8e4</string>
	<key>STORAGE_BUCKET</key>
	<string>hsuon-4c8e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436667224785:ios:75c428e548543c0caeabf0</string>
	<key>DATABASE_URL</key>
	<string>https://hsuon-4c8e4-default-rtdb.firebaseio.com</string>
</dict>
</plist>